body{
    background-color: gray;
    background-image: url(https://plus.unsplash.com/premium_photo-1715876234432-aee502a59dcd?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
background-repeat: no-repeat;

} 
.menu{
    background-color: black;
    width: auto;
    height: 100px;
    border-radius: 10px;
    padding: 10px;
    color: aliceblue;
}
.menu ul li {
    list-style: none;
    padding: 0;
    margin: 0; 
    
}
#imagen{
    width: 150px;
    height: 100px;
    border-radius: 10px;
    float: left;

}


ul,ol{

    list-style: none;
}
.menu-lista li a{
    background-color: black;
    color: azure;
    
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    font-size: 25px;
}
.menu-lista > li{
    float: left;
}
.menu-lista li a:hover{
    background-color: #434343;
}
.menu-lista li ul{
    display: none;
    position: absolute;
    min-width: 140px;
}
.menu-lista li:hover > ul{
    display: block;
}
#header{

    margin: auto;
    width: 500px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.box{

    display: flex;
    gap: 20px;
}